
/*# sourceMappingURL=style.css.map */

/* Nesting o anidamiento*/

@import 'listas';
@import 'extend';

section{
    p{
        color: darkgoldenrod;
    }
}

header{

    nav{

        ul{
            li{
                a{
                    font-family: italic
                    
                }
            }
        }
    }
}


* {
    margin: 0px;
    padding: 0px;
}

.logo-sigma {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 60px;
    border-radius: 500px;
    box-shadow: 1px 1px 10px 8px #fff;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

address {
    color: red;
    margin: 20px 0px;
    display: flex;
    width: 45%;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*imagen de fondo*/
body {
    background-image: url('/src/multimedia/imagenes/imagen-fondo.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

p {
    color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 40px;
    padding-left: 20px;
}

.derechos{
    width: 45%;
    position: relative;
    color: cornsilk;
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

.link-wapp{
    display: flex;
    width: 10%;
}

.whatsapp {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* Flexbox */

.integrantes {
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.integrante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 128px ; 
    height: 128px;
}

.container {
    flex-wrap: wrap;
    margin: auto auto;
}

/* Grids */
.pages-container{
    display:grid;
    border: 2px solid rgb(124, 124, 124);
    grid-template-rows: 150px;
    grid-template-columns: repeat(4, 1fr);
   }

.page-item{
  display: grid;
  display: flex;
  border: 2px solid rgb(124, 124, 124);
  align-self: center;
  justify-self: center;
}

.foto1, .foto2, .foto3, .foto4, .foto5 {
    border-radius: 50%;
}

.foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover {
    opacity: 0.7;
}

.nico, .nico_name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 20px;
}

.nico_name {
    bottom: 10px;
    color: #fff;
}

.nico_name:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.mati, .mati_name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 20px;
}

.mati_name {
    bottom: 10px;
}

.mati_name:hover{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.lucho, .lucho_name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 20px;
}

.lucho_name {
    bottom: 10px;
}

.lucho_name:hover{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.joaco, .joaco_name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 20px;
}

.joaco_name {
    bottom: 10px;
}

.joaco_name:hover{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.valen, .valen_name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 20px;
}

.valen_name {
    bottom: 10px;
}

.valen_name:hover{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

/* transformación */

.integrante:hover {
    transform: scale(1.4);
}

.integrante {
    transition: all 1s;
}

.whatsapp:hover {
    transform: scale(2) rotate(360deg)
}
.whatsapp{
    transition: all 0.5s ;
    bottom: 30px;
}

.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

/* animación*/

.enlace:hover {
    animation: movimiento 4s;
    margin: auto;
}

.page-item:hover {
    animation: movimiento2 4s ;
}

/* transición */

@keyframes movimiento {

    from {
        color: black;
    }

    to {
        color: black;
    }

    50% {
        border-radius: 25%;
    }

    25% {
    font-size: 25px;
}
          
}

@keyframes movimiento2 {
    
    10% {
        background-color: grey;
    }

    50% {
        border-radius: 25%;
    }
}

/* Mobile */

@media screen and (max-width: 768px) {

    /* HEADER */

    header{
        width: 100%;
        margin: 0px auto;
        padding: 20px;
    }

    .logo-sigma {
        display: flex;
        width: 100%;
        margin: 20px auto 60px;
        border-radius: 500px;
        box-shadow: 1px 1px 10px 8px #fff;
        color: darkgrey;
        filter: invert(1);
        background-color: darkgrey;
    }

    /* BODY */

    main{
        width: 100%;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px auto;
    }

    .integrantes{
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .div-nico, .div-mati, .div-joaco, .div-valen{
        margin: 20px auto;
    }

    /* FOOTER */

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer .derechos{
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
    }

    .link-wapp{
        display: none;
    }

    .whatsapp{
        display: none;
        position: relative;
        width: 10%;
        left: 90%;
        bottom: 60px;
    }

    address {
        color: darkgreen;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 650px){
    
    /* HEADER */

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* BODY */

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    p {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding: 20px;
    }

    .pages-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #fff;
        opacity: 0.9;
    }

    .page-item{
        margin: 20px auto;
        border: none;
    }

    .enlace{
        background-color: transparent;
        border: none;
        color: black;
    }

    .integrantes{
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    /* FOOTER */

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whatsapp{
        display: none;
    }

    address{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        filter: brightness(150%);
        width: 100%;
    }

    .footer .derechos{
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: #fff;
        width: 100%;
    }

}

